body {
  background-color :burlywood
  
  
  }
  
  #intropiece{
  
  background-image : url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  }
  
  
  .centerpieces {
  
  background-repeat : no-repeat;
  background-attachment: fixed;
  }

  .article-column1, article-column2 {

  width:49.5%;
float: left;
margin: 1%;}

  }
  
  #masterpiece {
  
  background-image : url();
  background-repeat : no-repeat;
  background-attachment: fixed;
  
  }
  