body {
  background-color :burlywood
  
  
  }
  
  #intropiece{
  
  background-image : url();
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  }
  
  
  .centerpieces {
  
  background-repeat : no-repeat;
  background-attachment: fixed;
  }
  
  #masterpiece {
  
  background-image : url();
  background-repeat : no-repeat;
  background-attachment: fixed;
  
  }
  