body {
  background-color :rgb(135, 222, 215);
  
  
  }

 #nav>li  {

  list-style-type: none;
  display:inline;
  margin-right: 30px;
 
  }
  
  #intropiece{
     
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  }
  
  
  .centerpieces {
   
  width: 99%;
  float:left;
  background-repeat : no-repeat;
  background-attachment: fixed;
  }

  .article-column1, .article-column2 {

  width:99.9%;
  float: left;
  margin: 1%;

}

  
  
  #masterpiece {
  
  background-image : url();
  background-repeat : no-repeat;
  background-attachment: fixed;
  
  }
  